.main{
  background-image: url('https://cdn4.vectorstock.com/i/1000x1000/63/63/simple-dog-paw-pattern-vector-12356363.jpg');
  background-size: cover;
  background-position: center;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

